*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: flow-circular;
  src: url(/static/webfonts/flow-circular.woff);
}
@font-face {
  font-family: flow-rounded;
  src: url(/static/webfonts/flow-rounded.woff);
}
@font-face {
  font-family: flow-block;
  src: url(/static/webfonts/flow-block.woff);
}

body {
  background: #cccfdd;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
