.App {
  background: linear-gradient(to right, #2b2724, #2b2728);
  height: 100vh;
  width: 100vw;
}

.cta {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
}

.input {
  margin: 2rem 0;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.error {
  font-size: 1.5rem;
  color: white;
  text-transform: capitalize;
}

.card {
  background-color: #2b2728;
  background-image: linear-gradient(
    62deg,
    #2b2728 0%,
    #2b2724 50%,
    #4b4b4b 100%
  );
  border-radius: 0.5rem;
  border: 1px solid #393939;
  padding: 1rem;
}

.cardHeader {
  display: flex;
  flex-wrap: wrap;
}

.cardTitle {
  font-size: 1.5rem;
  color: white;
}
